.search {
    -webkit-appearance: none;
    border: 2px solid rgb(59, 127, 167);
    outline: none;
    padding: 6px;
    width: 200px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  